<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">Guess the number</a>
    <button class="btn btn-warning my-2 my-sm-0" (click)="onLogout()">Logout</button>
  </nav>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">How to play</h1>
    <p class="lead">Guess the secret number. If your guess is too high or too low, you'll get a hint.</p>
    <hr class="my-3">
    <p>Enter your answer, and click to submit.</p>
    <button class="btn btn-dark btn-lg" (click)="onPlay()">Let's Play!</button>
  </div></div>
