<div class="class conteiner">
    <table class="table table-dark table-condensed table-hover">
        <thead>
            <tr>
                <th scope="col">GameId</th>
                <th scope="col">DateTime</th>
                <th scope="col">Player</th>
                <th scope="col">Attempt</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of attempts?.listOfAttempts">
                <td>{{i?.gameId}}</td>
                <td>{{i?.time| date:'short'}}</td>
                <td>{{i?.userName}}</td>
                <td>{{i?.value}}</td>
            </tr>
        </tbody>
    </table> 
</div>
